body {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
    height: 432px;
    width: 432px;
}

.square {
    border: 2px solid;
    height: 140px;
    width: 140px;
}
    
#reset-button {
    text-align: center;
    margin: 10px;
}